{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "trailingComma": "none",
        "arrowParens": "avoid"
      }
    ],
    "spaced-comment": "off",
    "import/prefer-default-export": "off",
    "no-console": "warn",
    "consistent-return": "off",
    "func-names": "off",
    "object-shorthand": "off",
    "no-process-exit": "off",
    "no-param-reassign": "off",
    "no-return-await": "off",
    "no-else-return": "off",
    "no-useless-return": "off",
    "no-underscore-dangle": "off",
    "no-var": "warn",
    "new-cap": "off",
    "no-plusplus": "off",
    "radix": "off",
    "class-methods-use-this": "off",
    "no-restricted-syntax": [
      "warn",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "prefer-destructuring": [
      "error",
      {
        "object": true,
        "array": false
      }
    ],
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "req|res|next|val"
      }
    ],
    "no-undef": "warn"
  }
}
