@mixin card($type) {
  padding: $card-padding;
  background-color: #fff;

  @if $type == left {
    @extend %card_side;

    border-radius: 0 $card-padding $card-padding 0;
    @include respond(phone) {
      border-radius: $card-padding $card-padding 0 0;
    }
  } @else if $type == right {
    @extend %card_side;

    border-radius: $card-padding 0 0 $card-padding;
    @include respond(phone) {
      border-radius: 0 0 $card-padding $card-padding;
    }
  } @else if $type == center {
    border-radius: $card-padding;
  } @else if $type == popup {
    border-radius: $popup-border-radius;
    padding: $popup-padding-tb $popup-padding-rl;
  }
}

%card_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $puzzle-item-width + 2 * $card-padding;
  // height: auto;

  @include respond(phone) {
    flex-direction: row;
    width: auto;
  }
}
