.button {
  position: relative;
  padding: 0.5rem 1.5rem;
  width: 10rem;

  cursor: pointer;

  color: #fff;
  font: 400 1.3rem 'vazir';
  text-align: center;

  border: none;
  border-radius: 2px;
  outline: none;

  overflow: hidden;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    transition: all 0.2s ease;
    right: -50%;
    height: 1.5rem;
    width: 1.5rem;

    @media (hover: none) {
      position: static;
      transform: none;
      margin-left: 1.5rem;
      height: 17px;
    }
  }

  &__label {
    transition: all 0.2s ease;
  }

  &:hover {
    .button__icon {
      right: 50%;
    }

    .button__label {
      transform: translateX(-10rem);

      @media (hover: none) {
        transform: none;
      }
    }
  }

  @media (hover: none) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
  }
}
