//-----------------------------
//            width            
//-----------------------------
$card-padding: 1.5rem;

$puzzle-column: 6;
$puzzle-item-width: 6rem;

//-----------------------------
//            color            
//-----------------------------
$color-correct: #4caf50;
$color-wrong: #e91e63;

//-----------------------------
//            font            
//-----------------------------
$font-score: 2.7rem;