mixin timer
  .timer
    svg.timer__svg(viewBox='0 0 100 100', xmlns='http://www.w3.org/2000/svg')
      g.timer__circle
        circle.timer__path-elapsed(cx='50', cy='50', r='45')
        path.timer__path-remaining.timer__color__remain(
          stroke-dasharray='283',
          d='M 50, 50 m -45, 0 a 45,45 0 1,0 90,0 a 45,45 0 1,0 -90,0'
        )

    span.timer__label 0:00
