#popup {
  display: none;

  &:checked + .popup__backdrop {
    visibility: visible;
    backdrop-filter: blur(5px) brightness(60%);

    & > .popup-how {
      transform: translate(33.33vw, 0);
    }

    & > .popup-menu {
      transform: translate(0, 0);
    }

    & > .popup-score {
      transform: translate(-33.33vw, 0);
    }

    // & > .popups {
    //   transform: translate(33vw, 0);
    // }

    // & > .popup__hide {
    //   transform: translate(-33vw, 0) !important;
    // }
  }
}

.popup {
  @include card(popup);
  position: relative;
  padding: 2rem 3rem;
  width: 50%;
  transition: all 0.2s ease;

  &s {
    display: flex;
    justify-content: center;
    align-items: center;

    // transform: translate(25vw, calc(-50vh - 50%));
    transition: all ease 0.3s;
    // background-color: red;

    &.pupup__hide {
      #popup__how {
        visibility: hidden !important;
      }
    }
  }

  &__hide {
    // transform: translate(-25vw, calc(-50vh - 50%)) !important;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  &__icon {
    width: $popup-icon-size;
    height: $popup-icon-size;
    background: url('../img/logo.png') center center / contain;
  }

  &__close {
    position: absolute;
    top: 1.7rem;
    left: 1.5rem;

    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
    visibility: hidden;

    color: #333;

    &:hover {
      color: red;
    }
    @mixin close {
      content: '';
      display: block;
      width: 1.5rem;
      height: 1px;

      position: absolute;
      top: 50%;
      left: 0;
      transform-origin: center center;

      background-color: currentColor;
    }

    &::before {
      @include close;
      transform: rotate(45deg);
    }

    &::after {
      @include close;
      transform: rotate(-45deg);
    }
  }

  &__title {
    margin: 0 1rem 0 auto;

    font-size: 2.5rem;
    font-weight: 400;
  }

  &__text {
    color: #333;
    font-size: 1.6rem;
    font-weight: 100;
    text-align: justify;
  }

  &__play {
    background-color: $color-correct;
    margin-left: 2rem;
  }

  &__how {
    background-color: $color-wrong;
  }

  &__backdrop {
    visibility: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: all ease 0.2s;
  }
}

.hide {
  opacity: 0;
}

.popup-how {
  transform: translate(33.33vw, calc(-50vh - 50%));
}

.popup-menu {
  transform: translate(0, calc(-50vh - 50%));
}

.popup-score {
  transform: translate(-33.33vw, calc(-50vh - 50%));
}
