#check {
  &__menu,
  &__score,
  &__help {
    display: none;

    &:checked + .popup__backdrop {
      visibility: visible;
      backdrop-filter: blur(5px) brightness(60%);

      & > * {
        transform: translate(0);
      }
    }
  }

  &__how,
  &__rank {
    display: none;
    &:checked + .popup--back {
      transform: translateX(0);
    }
  }
}

.popup {
  display: flex;
  flex-direction: column;
  @include card(popup);

  transition: all 0.5s ease;

  &--main {
    position: relative;
    width: 50%;

    @include respond(tab-port) {
      width: 70%;
    }

    @include respond(phone) {
      width: 100%;
      height: 100vh;
    }

    transform: translateY(calc(-50vh - 50%));

    overflow: hidden;
  }

  &--back {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    overflow-y: auto;
  }

  &--start {
    backdrop-filter: blur(5px) brightness(60%);

    &--show {
      visibility: visible !important;
      animation: anim-backdrop 4.5s ease both;
    }
  }

  &__backdrop {
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: all ease 0.2s;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-right: -2rem;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 12rem));
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
  }

  &__logo {
    width: $popup-icon-size;
    height: $popup-icon-size;
    background: url('../img/logo.png') center center / contain;
  }

  &__icon {
    width: $popup-icon-size;
    height: $popup-icon-size;
  }

  &__close {
    position: absolute;
    top: 1.7rem;
    left: 1.5rem;

    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
    visibility: hidden;

    color: #333;

    &:hover {
      color: red;
    }
    @mixin close {
      content: '';
      display: block;
      width: 1.5rem;
      height: 1px;

      position: absolute;
      top: 50%;
      left: 0;
      transform-origin: center center;

      background-color: currentColor;
    }

    &::before {
      @include close;
      transform: rotate(45deg);
    }

    &::after {
      @include close;
      transform: rotate(-45deg);
    }
  }

  &__title {
    margin: 0 1rem 0 auto;

    font-size: 2.5rem;
    font-weight: 400;
  }

  &__text {
    height: 100%;

    color: #333;
    font-size: 1.6rem;
    font-weight: 100;
    text-align: justify;
  }

  &__play {
    background-color: $color-correct;
  }

  &__how {
    background-color: $color-wrong;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(6, minmax(4rem, 5rem));
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 2.5rem;

    margin: 2rem 0;
    height: 100%;
  }

  &__score {
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-column: span 2;
    }

    &__score > .timer {
      transform: scale(1.25) translateY(-10%);
    }

    &__game-score {
      font-size: 115%;
    }

    &__correct,
    &__wrong,
    &__time {
      h3 {
        margin: 0;
      }
    }

    &__solution {
      background-color: $color-total;
      // grid-column: 1 / -1;
      // margin-top: 1rem;
    }
  }

  &__help {
    align-self: center;
  }
}

.timer-restart {
  font-size: 9rem;
  font-weight: 100;
  color: #fff;

  @include no-drag();
}

.time__number {
  color: $color-total;

  display: block;
  margin-bottom: -$font-score / 4;

  @include respond(phone) {
    margin: 0;
  }

  font-size: $font-score;
}

#popup__score.popup--main .popup__bottom {
  grid-template-columns: repeat(3, minmax(10rem, 12rem));
}
