#check {
  &__menu,
  &__score {
    display: none;

    &:checked + .popup__backdrop {
      visibility: visible;
      backdrop-filter: blur(5px) brightness(60%);

      & > * {
        transform: translate(0);
      }
    }
  }

  &__how,
  &__rank {
    display: none;
    &:checked + .popup--back {
      transform: translateX(0);
    }
  }
}

.popup {
  display: grid;
  position: relative;
  width: 50%;
  max-height: 100%;

  transition: all #{$popupCloseDuration}ms ease;
  transform: translateY(calc(-50vh - 50%));
  overflow: hidden auto;

  @include respond(tab-port) {
    width: 70%;
  }

  @include respond(phone) {
    width: 100%;
    height: 100%;
  }

  &--main,
  &--back {
    @include card(popup);

    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;

    transition: all #{$popupCloseDuration}ms ease;
  }

  &--back {
    transform: translateX(calc(-100% - #{$popup-padding-rl - $popup-margin-t}));
  }

  &--start {
    backdrop-filter: blur(5px) brightness(60%);

    &--show {
      visibility: visible !important;
      animation: anim-backdrop 4.5s ease both;
    }
  }

  &__backdrop {
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // transition: all ease 0.2s;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-right: $popup-margin-t;

    background: #fff;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }

  &__logo {
    width: $popup-icon-size;
    height: $popup-icon-size;
    background: url('../img/logo-min.png') center center / contain;
  }

  &__icon {
    width: $popup-icon-size;
    height: $popup-icon-size;
  }

  &__close {
    position: absolute;
    top: 1.7rem;
    left: 1.5rem;

    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
    visibility: hidden;

    color: #333;

    &:hover {
      color: red;
    }
    @mixin close {
      content: '';
      display: block;
      width: 1.5rem;
      height: 1px;

      position: absolute;
      top: 50%;
      left: 0;
      transform-origin: center center;

      background-color: currentColor;
    }

    &::before {
      @include close;
      transform: rotate(45deg);
    }

    &::after {
      @include close;
      transform: rotate(-45deg);
    }
  }

  &__title {
    margin: 0 1rem 0 auto;

    font-size: 2.5rem;
    font-weight: 400;
  }

  &__text {
    margin: 2rem 0;
    color: #333;
    font-size: 1.6rem;
    font-weight: 100;
    text-align: justify;
  }

  &__play {
    background-color: $color-correct;
    margin-left: 2rem;
  }

  &__how {
    background-color: $color-wrong;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(6, minmax(4rem, 5rem));
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 2.5rem;

    margin: 4rem 0;
    height: 100%;
  }

  &__score {
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-column: span 2;
    }

    &__score > .timer {
      transform: scale(1.25) translateY(-10%);
    }

    &__game-score {
      font-size: 115%;
    }

    &__correct,
    &__wrong {
      text-align: center;

      @include respond(phone) {
        width: 7rem;
      }

      &__number {
        display: block;
        margin-bottom: -$font-score / 4;

        @include respond(phone) {
          margin: 0;
        }

        font-size: $font-score;
      }

      h3 {
        margin: 0;
        font-size: $font-score / 2;
      }
    }

    &__correct {
      grid-column: 2 / 4;

      &__number {
        color: $color-correct;
      }
    }

    &__wrong__number {
      color: $color-wrong;
    }
  }

  &__help {
    align-self: center;
    margin-bottom: 2rem;
  }

  &__rank__table {
    font-size: 1.3rem;
    list-style: none;
    padding: 0;
    margin: 2rem 0;

    li {
      display: flex;
      padding: 0.5rem 0;
      background-color: #fafafa;

      &:nth-child(even) {
        background-color: #eee;
      }
    }

    &__header {
      color: #fff;
      background-color: $color-correct !important;
      font-weight: 700;
    }

    &__rank,
    &__score {
      flex: 0 0 4rem;
      text-align: center;
    }

    &__name {
      margin: {
        right: 1rem;
        left: auto;
      }
    }
  }
}

.timer-restart {
  font-size: 9rem;
  font-weight: 100;
  color: #fff;

  @include no-drag();
}
