.puzzle {
  display: grid;
  grid-template-columns: repeat($puzzle-column, $puzzle-item-width);

  @include respond(tab-port) {
    grid-template-columns: repeat($puzzle-column, $puzzle-item-width * 0.8);
  }
  @media only screen and (max-height: 22.2em) {
    grid-template-columns: repeat($puzzle-column, $puzzle-item-width * 0.7);
  }
  gap: 1rem;

  @include card(center);

  &__item {
    display: block;
    width: 100%;

    transition: all #{$puzzleItemChangeTime}ms ease;

    @include no-drag;

    &:hover {
      transform: scale(1.1);

      @media (hover: none) {
        transform: none;
      }
    }

    &__box {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        border-radius: 100%;
        transform: scale(0);
        opacity: 0;
      }

      &--correct::before {
        background: radial-gradient($color-correct, transparent);
      }

      &--wrong::before {
        background: radial-gradient($color-wrong, transparent);
      }

      &--select::before {
        animation: anim-itemChange #{$puzzleItemSelectAnimation}ms ease 1
          backwards;
      }
    }
  }
}

@keyframes anim-itemChange {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}
