.score {
  @include card(right);
  @extend %card_side;
}

.correct,
.wrong,
.total {
  text-align: center;

  &__number {
    display: block;
    margin-bottom: -$font-score / 4;

    font-size: $font-score;
  }

  h3 {
    margin: 0;
    font-size: $font-score / 2;
  }
}

.correct {
  margin: $font-score / 3 0;
}

.total {
  margin-top: $font-score / 3;
}

.correct__number {
  color: $color-correct;
}

.wrong__number {
  color: $color-wrong;
}

.total__number {
  direction: ltr;
  color: $color-total;
}