doctype html
html(lang='fa')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title مربع های جهت دار
    link(rel='shortcut icon', href='./img/logo-min.png', type='image/x-icon')

  body
    block container

    include popupMenu
    include popupResult

    include intro

    include restartTimer
