//-----------------------------
//            width
//-----------------------------
$card-padding: 1rem;

$puzzle-column: 6;
$puzzle-item-width: 6rem;

$popup-padding-tb: 1.3rem;
$popup-padding-rl: 3rem;
$popup-margin-t: -2rem;
$popup-border-radius: 0;
$popup-icon-size: 8rem;

$button-margin: 1.5rem;

//-----------------------------
//            color
//-----------------------------
$color-correct: #4caf50;
$color-wrong: #e91e63;
$color-total: #448aff;

//-----------------------------
//            font
//-----------------------------
$font-score: 2.5rem;

//-----------------------------
//            timer
//-----------------------------
$timer-size: 6rem;
$timer-thick: 0.3rem;
$timer-color-back: #edf1f3;
$timer-color-remain: #4caf50;
$timer-color-warn: #ffb300;
$timer-color-alert: #e91e63;
