@import 'util/var';
@import 'util/util';
@import 'util/cards';
@import 'util/typo';
@import 'layout/puzzle';
@import 'layout/sample';
@import 'layout/score';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: url('../img/background.png') top left/cover;

  font-family: 'vazir';
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;

}